*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("pics/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.avif");
    background-repeat: no-repeat;
}

.container{ 
    margin: 3%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(3,200px);
    justify-content: center;
}

img{
    height: 300px;
    width: 400px;
}